.header-basket-popup{
    border-top: 1px solid #dcdcdc;
    display: flex;
    height: calc(100% - 78px);
    flex-direction: column;
    justify-content: space-between;
}

.basket-products{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    img{
        width: 120px;
        height: 100px;
        object-fit: contain;
    }
    .count{
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        display: flex;
        padding: 8px;
        .count-item{
            margin: 0 10px;
        }
        input{
            border: none;
            width: 40px;
            padding-left: 10px;
            font-size: 16px;
        }
        .btn{
            padding: 8px;
            font-size: 16px;
            border-radius: 10px;
            line-height: 14px;
            font-weight: bold;
            border: none;
            background-color: #d22730;
            color: white;
            transition: all 0.5s ease;
            cursor: pointer;
        }
        .btn:hover{
            background-color: #009246;
            button{
                background-color: #009246;
            }
        }
    }
    span{
        font-size: 16px;
        font-weight: bold;
        width: 190px;
    }
    .price{
        width: 40px;
    }
}

.bot-block-basket{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-top: 1px solid #dcdcdc;
    .total-price{
        font-size: 25px;
    }
    button{
        padding: 15px;
        font-size: 20px;
        border: none;
        background-color: #d22730;
        border-radius: 10px;
        font-weight: bold;
        color: white;
    }
    button:hover{
        background-color: #009246;
        outline: 1px solid white;
        cursor: pointer;
    }
}

.delete{
    cursor: pointer;
}

@media (max-width:576px) {
    .basket-products{
        img{
            width: 80px;
            height: 70px;
            object-fit: contain;
        }
        .count{
            padding: 5px;
            input{
                width: 10px;
            }
        }
    }
    .bot-block-basket{
        .total-price{
            font-size: 15px;
        }
        button{
            font-size: 15px;
        }
    }
}