.container{
    width: 100%;
    margin: 0 auto;
    margin-top: 220px;
    max-width: 1700px;
    padding-left: 15px;
    padding-right: 15px;
    h2{
        text-align: center;
        font-size: 42px;
        font-weight: 600;
    }
}